main{
    margin: 0;
}

#logo{
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#map{
    width: 100vw;
    height: 100vh;
}

#map_overlay{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    background-color: rgba(0,0,0,.3);
    padding: 30px;
    color: #fff;
}
#map_overlay  a{
    color: #fff;
}