main{
    margin: 0;
}

#logo{
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#map{
    width: 100vw;
    height: 100vh;
}

#map_overlay{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    background-color: #e6f8f9;
    padding: 30px;
    color: #e86ed0;
    border-left: 6px solid #e86ed0;
    border-bottom: 6px solid #e86ed0;
    border-bottom-left-radius: 10px;
}

#map_overlay  a{
    color: #e86ed0;
}

#map_overlay  .action{
    background-color: #b1e8ed;
    color: #e86ed0;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer
}