{% extends "layout.html" %}
{% block title %}
Om oss
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/about.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Om oss</h3>
    <p>Information om Godisbilen</p>
</section>
<div id="info">
    <section>
        <img src="{{ url_for('static', filename='img/car/car_outside_side.png') }}" alt="Godisbilen utsida">
        <p>Godisbilen är ett nystartar företag i Staffanstorp som levererar godis direkt hem till dig.
            Just nu finns vi i Dalby och Staffanstorps kommun men vi utökar vårt leveransområde löpande. När det blir aktuellt kommer vi annonsera detta på våra socialamedier.</p>
            <p>I vårt sortiment finner du dryck, snacks, stycksaker och lösgodis till ett rimligt pris.</p>

            <p>Om du har några frågor, kommentarer eller önskemål om sortimentet är du välkommen på kontakta oss <a href="{{ url_for('main.contact') }}">här</a>.
        </p>
    </section>
</div>
{% endblock main %}