{% extends "layout.html" %}
{% block title %}
Erbjudande
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/campaign.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/address_picker.css') }}">
{% endblock css %}
{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main/campaign.js') }}"></script>
<script src="{{ url_for('static', filename='js/address_picker.js') }}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&libraries=places,geometry&callback=initMap"
    async defer></script>
{% endblock javascript %}
{% block main %}
    <img id="campaign_img" src="{{ url_for('static', filename='img/campaign/' + campaign.image) }}">
    <p id="join">Nyttja erbjudande</p>
    <form id="join_form" method="POST" class="responsive_form">
        {{ form.hidden_tag() }}
        <div class="form_row">
            <div class="input_container">
                {{ form.phone_number(placeholder=" ", class="error" if form.phone_number.errors) }}
                {{ form.phone_number.label() }}
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {{ form.search(placeholder=" ", class="required error" if form.search.errors else "required") }}
                {{ form.search.label() }}
                <div class="errors">
                    {% for error in form.search.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="map_container">
            <div id="map"></div>
            <div id="infowindow-content">
                <img width="16" height="16" id="place-icon" alt="Plats ikon">
                <span id="place-name" class="title"></span><br>
                <span id="postal"></span>
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {{ form.submit() }}
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                <p class="info">Genom att klicka på "Skicka" accepterar jag de <a href="{{  url_for('main.tos') }}">allmänna villkoren</a> och <a href="{{  url_for('main.tos', _anchor='gdpr') }}">personuppgiftspolicyn</a>.</p>
            </div>
        </div>
    </form>
    <p id="description">{{ campaign.description }}</p>
    <p id="notice">Erbjudandet gäller endast fram till {{ campaign.end.strftime("%d/%m") }} {% if campaign.end.strftime("%H:%M") != "23:59" %}{{ campaign.end.strftime("%H:%M") }}{% endif%}.</p>
    <p id="terms">Villkor: {{ "Endast " + campaign.per_user|string + " nyttjande per telefonnummer." if campaign.per_user }} {{ "Endast " + campaign.per_address|string + " nyttjande per adress." if campaign.per_address }} {{ campaign.terms if campaign.terms }}</p>
{% endblock main %}