{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/contact.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Kontakta oss</h3>
    <p>Vi svarar snarast</p>
</section>
<form id="contact_form" class="responsive_form" method="POST">
    {% if message_sent %}
    <div class="form_row">
        <div class="input_container message_sent">
            <p class="info">Ditt meddelande har skickats! Vi hör av oss så fort som möjligt.</p>
        </div>
    </div>
    {% endif %}
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" and field.widget.input_type != "submit" %}
        <div class="form_row">
            <div class="input_container">
                {{ field(placeholder=" ", class="error" if field.errors) }}
                {{ field.label() }}
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="form_row">
        <div class="input_container">
            {{ form.submit() }}
        </div>
    </div>
    <div class="form_row">
        <div class="input_container">
            <p class="info">Genom att klicka på "Skicka" accepterar jag de <a href="{{  url_for('main.tos') }}">allmänna villkoren</a> och <a href="{{  url_for('main.tos', _anchor='gdpr') }}">personuppgiftspolicyn</a>.</p>
        </div>
    </div>
</form>
{% endblock main %}