{% extends "layout.html" %}
{% block title %}
Vanliga frågor
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/faq.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Vanliga frågor</h3>
    <p>Hittar du inte svaret här? <a href="{{ url_for('main.contact') }}">Kontakta oss</a>.</p>
</section>
<div id="faq_container">
    <section class="faq">
        <h4>Vilka betalningsmetoder kan användas?</h4>
        <p>Godisbilen.nu accepterar både swish och kortköp (ej kontanter).</p>
    </section>
    <section class="faq">
        <h4>Kostar det något att få bilen utkörd?</h4>
        <p>Ja, vi tar ut en kostnad på 45kr per beställning. Vid köp för 100kr eller mer bjuder vi på denna avgift.</p>
    </section>
    <section class="faq">
        <h4>Hur beställer jag hem godisbilen?</h4>
        <p>Från <a href="{{ url_for('main.home') }}">startsidan</a> klickar du på "Beställ nu".
            Ett formulär visas och du behöver fylla i ditt telefonnummer samt en adress vart vi ska komma.
            När du klickar på skicka är din beställning lagd och du får upp en beräknad leveranstid.
        </p>
    </section>
    <section class="faq">
        <h4>Kan jag beställa hem godisbilen utanför era leveransområden?</h4>
        <p>Man kan alltid skicka ett sms till <a href="sms:0708650300">070-865 03 00</a> så ser vi ifall vi har tid att komma till dig.</p>
    </section>
    <section class="faq">
        <h4>Finns ni på socialamedier?</h4>
        <p>Ni hittar oss både på <a href="https://www.facebook.com/Godisbilennu-112916336786817">Facebook</a> och <a href="https://www.instagram.com/godisbilen.nu/">Instagram</a>. Där uppdaterar vi våra aktuella händelser, tävlingar och erbjudande.</p>
    </section>
    <section class="faq">
        <h4>Hur länge varar varje stopp?</h4>
        <p>Vi har beräknat varje stopp till 8 minuter.</p>
    </section>
    <section class="faq">
        <h4>Hur lång tid tar det från det jag beställt till bilen kommer ut?</h4>
        <p>Leveranstiden beror på aktuell köplats och körsträcka.</p>
    </section>
    <section class="faq">
        <h4>Kan ni inte börja köra i min by/stad?</h4>
        <p>Vi utökar våra leveransområden löpande. Håll utkik på våra socialamedier för att veta när nya byar och städer införs.</p>
    </section>
    <section class="faq">
        <h4>Finns det gelatinfritt godis?</h4>
        <p>Vi har flera olika sorter som är gelatinfria.</p>
    </section>
</div>
{% endblock main %}