{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/home.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <div>
        <h3>Öppettider</h3>
        <p>Fre-Lör: 18-01</p>
        {% if shop_open %}
        <a href="{{ url_for('order.new_order') }}">Beställ nu</a>
        {% else %}
        <a>Stängt</a>
        {% endif %}
    </div>
</section>
<div id="campaigns">
    <a class="campaign">
        <img src="{{ url_for('static', filename='img/static_campaign/dubblastycksaker.png') }}" alt="Dubbla stycksaker">
    </a>
    {% for campaign in campaigns%}
        <a href="{{ url_for('main.campaign', campaign_id=campaign.id) }}" class="campaign">
            <img src="{{ url_for('static', filename='img/campaign/' + campaign.image) }}" alt="Erbjudande">
        </a>
    {% endfor %}
</div>
{% endblock main %}