{% extends "layout.html" %}
{% block title %}
Våra produkter
{% endblock title %}
{% block css %}
{{ super() }}
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Våra produkter</h3>
    <p>Här finner du alla produkter i godisbilen.</p>
</section>
<div id="products">
    {% for category in products %}
        <section class="category">
            <h4>{{ category }}</h4>
            <div class="products_container">
                {% for product in products[category] %}
                    <section class="product">
                        <img>
                        <h5>{{ product[0] }}</h5>
                        <p>{{ product[1] }}</p>
                    </section>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
</div>
{% endblock main %}