{% extends "layout.html" %}
{% block title %}
Leveransområden
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/regions.css') }}">
{% endblock css %}
{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main/regions.js') }}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap"
    async defer></script>
{% endblock javascript %}
{% block main %}
<section id="sub_header">
    <h3>Leveransområden</h3>
    <p>Leverans utanför gränserna?</p>
    <p>Man kan alltid skicka ett sms till <a href="sms:0708650300">070-865 03 00</a> så ser vi ifall vi har tid att komma till dig.</p>
</section>
<div id="map"></div>
{% endblock main %}