{% extends "layout.html" %}
{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin/create_purchase.js') }}"></script>
{% endblock javascript %}
{% block main %}
<section id="sub_header">
    <h3>Köp</h3>
    <p>Vad köpte kunden?</p>
</section>
<form method="POST" class="responsive_form" id="purchase_form" novalidate>
    {{ form.hidden_tag() }}
    <div class="form_row">
        <div class="input_container">
        {{ form.order_number(placeholder=" ", class="error" if form.order_number.errors) }}
            {{ form.order_number.label() }}
            <div class="errors">
                {% for error in form.order_number.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for product in form.products %}
        <div class="form_row" {% if loop.index0==0 %} id="template" style="display: none;" {% endif %}>
            <div class="input_container">
                {{ product.product(placeholder=" ", class="error" if product.product.errors) }}
                {{ product.product.label() }}
                <div class="errors">
                    {% for error in product.product.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="input_container">
                {{ product.amount(placeholder=" ", class="error" if product.amount.errors) }}
                {{ product.amount.label() }}
                <div class="errors">
                    {% for error in product.amount.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="form_row">
        <div class="input_container">
            <p class="info" onclick="add_product(this);"><a>Ny vara</a></p>
        </div>
    </div>
    <div class="form_row">
        <div class="input_container">
            {{ form.submit() }}
        </div>
    </div>
</form>
{% endblock main %}