{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/home.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Admin - Hem</h3>
    <p>Välkommen {{ current_user.admin.firstname + " " + current_user.admin.lastname }}!</p>
</section>
<div id="box_container">
    <a class="box" href="{{ url_for('admin_route.map') }}">
        <h4>Karta</h4>
        <img src="{{ url_for('static', filename='img/map.svg') }}">
    </a>
    {% if current_user.has_roles(["Developer"]) %}
    <a class="box" href="{{ url_for('admin.index') }}">
        <h4>Databas</h4>
        <img src="{{ url_for('static', filename='img/database.svg') }}">
    </a>
    {% endif %}
    <a class="box" href="{{ url_for('admin_route.logout') }}">
        <h4>Logga ut</h4>
        <img src="{{ url_for('static', filename='img/logout.svg') }}">
    </a>
</div>
{% endblock main %}