{% extends "layout.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/map.css') }}">
{% endblock css %}
{% block nav %}
{% endblock nav %}
{% block main %}
    <img id="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Godisbilen logo">
    <div id="map_overlay" style="display: none;">
        <div id="current_order">
            <h2>Nuvarande order:</h2>
            <p class="address"></p>
            <p class="phone_number"></p>
            <button class="start">Starta</button>
            <button class="complete">Färdig</button>
        </div>
    </div>
    <div id="map"></div>
{% endblock main %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/map.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap"
        async defer></script>
{% endblock javascript %}