{% extends "layout.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_confirmation.css') }}">
{% endblock css %}
{% block main %}
    <div id="container">
        <img src="{{ url_for('static', filename='img/order_confirmation.svg') }}" style="width:150px;">
        <section id="message">
            <h1>Tack för din order!</h1>
            <h2>Vi ses snart!</h2>
        </section>
        <div id="queue_position">
            <h2>Köplats: {{ order.queue_position }}</h2>
            <h2>Beräknad leverans: {{ order.estimated_delivery.time().strftime("%H:%M") }}</h2>
        </div>
        <section id="order_info">
            <h2>Orderinformation</h2>
            <h3>Telefonnummer:</h3>
            <h4>{{ order.user.phone_number }}</h4>
            <h3>Leveransaddress:</h3>
            <h4>{{ order.location.street_name }} {{ order.location.street_number }}, {{ order.location.postal_town }}</h4>
            <h3>Ordernummer:</h3>
            <h4>{{ order.order_number }}</h4>
        </section>
    </div>
{% endblock main %}