{% extends "layout.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order/order.css') }}">
{% endblock css %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/order/order.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&libraries=places,geometry&callback=initMap"
        async defer></script>
{% endblock javascript %}
{% block main %}
<section id="sub_header">
    <h3>Beställ</h3>
    <p>Snabbt och bekvämt</p>
</section>
<div id="order_container">
    <form method="POST" class="responsive_form">
        {{ form.hidden_tag() }}
        <div class="form_row">
            <div class="input_container">
                <p class="info">Minsta belopp: 100kr</p>
                <p class="info">Betalning sker vid leverans</p>
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {{ form.phone_number(placeholder=" ", class="error" if form.phone_number.errors) }}
                {{ form.phone_number.label() }}
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {{ form.search(placeholder=" ", class="required error" if form.search.errors else "required") }}
                {{ form.search.label() }}
                <div class="errors">
                    {% for error in form.search.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="map_container">
            <div id="map"></div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="postal"></span>
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {{ form.submit() }}
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                <p class="info">Genom att klicka på "Skicka" accepterar jag de <a href="{{  url_for('main.tos') }}">allmänna villkoren</a> och <a href="{{  url_for('main.tos', _anchor='gdpr') }}">personuppgiftspolicyn</a>.</p>
            </div>
        </div>
    </form>
</div>
{% endblock main %}