{% extends "layout.html" %}
{% block main %}
<section id="sub_header">
    <h3>{{ "Skapa" if(request.endpoint == "create") else "Uppdatera" }} erbjudande</h3>
    <p>Detta kommer göra alla kunder glada :D</p>
</section>
<form method="POST" class="responsive_form" id="campaign_form" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" and field.widget.input_type != "submit" %}
        <div class="form_row">
            <div class="input_container">
                {{ field(placeholder=" ", class="error" if field.errors) }}
                {{ field.label() }}
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="form_row">
        <div class="input_container">
            {{ form.submit() }}
        </div>
    </div>
</form>
{% endblock main %}