{% extends "layout.html" %}
{% block title %}
Erbjudande
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/campaign/campaign_list.css') }}">
{% endblock css %}
{% block main %}
<section id="sub_header">
    <h3>Erbjudande</h3>
    <p>Lista över alla erbjudande</p>
</section>
<div id="campaigns">
    <section id="active_campaigns">
        <h4>Aktiva erbjudande</h4>
        <div class="campaigns_container">
            <a class="create_campaign" href="{{ url_for('campaign.create') }}">
                <img src="{{ url_for('static', filename='img/add_icon.svg') }}" alt="Lägg till erbjudande">
            </a>
            {% for campaign in active_campaigns %}
            <a href="{{ url_for('campaign.campaign', campaign_id=campaign.id) }}">
                <img src="{{ url_for('static', filename='img/campaign/' + campaign.image) }}" alt="Bild över erbjudande">
            </a>
            {% endfor %}
        </div>
    </section>
    <section id="upcomming_campaigns">
        <h4>Kommande erbjudande</h4>
        <div class="campaigns_container">
            {% for campaign in upcomming_campaigns %}
            <a href="{{ url_for('campaign.campaign', campaign_id=campaign.id) }}">
                <img src="{{ url_for('static', filename='img/campaign/' + campaign.image) }}" alt="Bild över erbjudande">
            </a>
            {% endfor %}
        </div>
    </section>
    <section id="passed_campaigns">
        <h4>Passerade erbjudande</h4>
        <div class="campaigns_container">
            {% for campaign in passed_campaigns %}
            <a href="{{ url_for('campaign.campaign', campaign_id=campaign.id) }}">
                <img src="{{ url_for('static', filename='img/campaign/' + campaign.image) }}" alt="Bild över erbjudande">
            </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock main %}