<!DOCTYPE>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% if not config["DEBUG"] is defined or not config["DEBUG"] or not config["GOOGLE_ANALYTICS_TRACK_ID"] %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GOOGLE_ANALYTICS_TRACK_ID'] }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag("js", new Date());

            gtag("config", "{{ config['GOOGLE_ANALYTICS_TRACK_ID'] }}");
        </script>
    {% endif %}
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
    {% endblock css %}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    {% endblock fonts %}
</head>

<body>
    {% block nav %}
    <nav>
        <a href="{{ url_for('main.home') }}" id="logo" class="nav_link">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Godisbilen logo">
        </a>
    </nav>
    {% endblock nav %}
    <main id="main">
        {% block main %}
        {% endblock main %}
    </main>
    {% block footer %}
    <footer>
        <section id="motto">
            <h3>Godisbilen</h3>
            <p><q>Fixar godis när du behöver det!</q></p>
            <small>&copy; Copyright 2019, Godisbilen</small>
        </section>
        <section id="links">
            <h3>Snabblänkar</h3>
            <ul>
                <li><a href="{{ url_for('main.working_areas') }}">Leveransområde</a></li>
                <li><a href="{{  url_for('main.tos') }}">Allmänna villkor</a></li>
                <!-- <li><a>Vanliga frågor</a></li> -->
                <li><a href="{{ url_for('main.contact') }}">Kontakta oss</a></li>
                <li><a>Om oss</a></li>
            </ul>
        </section>
    </footer>
    {% endblock footer %}
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock javascript %}
</body>

</html>