<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>{% block title %}Godisbilen{% endblock title %}</title>
        {% if not config["DEBUG"] is defined or not config["DEBUG"] or not config["GOOGLE_ANALYTICS_TRACK_ID"] %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GOOGLE_ANALYTICS_TRACK_ID'] }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag("js", new Date());

                gtag("config", "{{ config['GOOGLE_ANALYTICS_TRACK_ID'] }}");
            </script>
        {% endif %}

        
        <meta property="og:title" content="Godisbilen">
        <meta property="og:site_name" content="Godisbilen">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Hemleverans för godis, snacks och dryck, kväll och nattetid.">
        <meta property="og:image" content="{{ url_for('static', filename='img/preview.png', _external=True) }}">
        <meta property="og:url" content="{{ url_for('main.home', _external=True) }}">
        <meta name="twitter:card" content="{{ url_for('static', filename='img/preview.png', _external=True) }}">
        <meta name="twitter:image:alt" content="Godisbilen förhandsvisning">

        <!-- Favicons -->
        <!-- generics -->
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-32.png') }}" sizes="32x32">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-57.png') }}" sizes="57x57">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-76.png') }}" sizes="76x76">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-96.png') }}" sizes="96x96">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-128.png') }}" sizes="128x128">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-192.png') }}" sizes="192x192">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon-228.png') }}" sizes="228x228">

        <!-- Android -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon-192.png') }}" sizes="196x196">

        <!-- iOS -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/favicon-120.png') }}" sizes="120x120">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/favicon-152.png') }}" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/favicon-180.png') }}" sizes="180x180">

        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
        {% endblock css %}
        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        {% endblock fonts %}
    </head>

    <body>
        {% block nav %}
        <nav>
            <a href="{{ url_for('main.home') }}" id="logo" class="nav_link">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Godisbilen logo">
            </a>
        </nav>
        {% endblock nav %}
        <main id="main">
            {% block main %}
            {% endblock main %}
        </main>
        {% block footer %}
        <footer>
            <section id="motto">
                <h3>Godisbilen</h3>
                <p><q>Fixar godis när du behöver det!</q></p>
                <small>&copy; Copyright 2019, Godisbilen</small>
            </section>
            <section id="links">
                <h3>Snabblänkar</h3>
                <ul>
                    <li><a href="{{ url_for('main.regions') }}">Leveransområde</a></li>
                    <li><a href="{{  url_for('main.tos') }}">Allmänna villkor</a></li>
                    <!-- <li><a>Vanliga frågor</a></li> -->
                    <li><a href="{{ url_for('main.contact') }}">Kontakta oss</a></li>
                    <li><a>Om oss</a></li>
                </ul>
            </section>
        </footer>
        {% endblock footer %}
        {% block javascript %}
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock javascript %}
    </body>
</html>