<!DOCTYPE>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
    {% endblock css %}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    {% endblock fonts %}
</head>

<body>
    {% block nav %}
        {% include "nav.html" %}
    {% endblock nav %}
    <main id="main">
        {% block main %}
        {% endblock main %}
    </main>
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% if not config["DEBUG"] is defined or not config["DEBUG"] %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34129633-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-34129633-4');
        </script>
        {% endif %}
    {% endblock javascript %}
</body>

</html>