<nav>
    <a href="{{ url_for('main.home') }}" id="logo" class="nav_link">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Godisbilen logo">
    </a>
    <ul>
        <li>
            <a href="#" class="nav_link">
                <i class="material-icons-outlined">info</i>
                <span>Info</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav_link">
                <i class="material-icons-outlined">local_shipping</i>
                <span>Beställ</span>
            </a>
        </li>
    </ul>
</nav>
    