footer{
    background-color: var(--header-background-color);
    color: #e86ed0;
    width: 100%;
}

footer > section{
    width: 100%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}

footer h3{
    margin: 0;
    text-decoration: underline;
}

footer > #motto > h3{
    font-size: 30px;
    margin: 10px 0;
}

footer > #motto > p{
    margin: 0;
    font-size: 20px;
}