:root {
    /* Nav */
    --nav-background-color: #b1e8ed;
    --nav-logo-color: #e86ed0;
    --nav-height: 70px;
    --nav-link-color: #e86ed0;

    /* Responsive form */
    --responsive-form-info-color: #e86ed0;


    --main-font: 'Righteous', cursive;
}
*{
    font-family: var(--main-font);
}
body{
    margin: 0;
    background-color: #f9f7f7;
}

main{
    margin-top: 70px;
    min-height: calc(100vh - 240px);
}

#sub_header{
    width: calc(100% - 60px);
    text-align: center;
    background-color: #edb5f5;
    color: #fff;
    padding: 10px 30px;
}

#sub_header h3{
    margin: 0;
    font-size: 40px;
}

#sub_header p{
    margin: 0;
    font-size: 20px;
}

#sub_header p > a{
    color: inherit;
}