#faq_container{
    max-width: 600px;
    margin: 0 auto;
}

.faq > h4{
    font-size: 22px;
    margin: 30px 0 0 0;
}

.faq > p {
    margin: 10px 0 0 0;
    padding-left: 20px;
}

.faq > p > a{
    color: inherit;
}