#sub_header > div > a{
    background-color: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
    font-size: 25px;
    color: #e86ed0;
    border-radius: 10px;
    transition: 0.2s;
    display: inline-block;
}

#sub_header > div > a:hover{
    -webkit-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
    box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
}

#campaigns{
    width: 90vw;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campaign > img{
    height: 400px;
    margin: 20px;
}