#sub_header > div > a{
    background-color: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
    font-size: 25px;
    color: #e86ed0;
    border-radius: 10px;
    transition: 0.2s;
    display: inline-block;
}

#sub_header > div > a:hover{
    -webkit-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
    box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.52);
}

#order_form{
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    transition: 0.5s ease-out;
    padding: 0px;
}

#order_form.active{
    max-height: 800px;
    opacity: 1;
    transition: 0.5s ease-in;
    padding: 20px 0;
}

#campaigns_container{
    text-align: center;
    width: 90vw;
    margin: 20px auto;
}
#campaigns_container > h4{
    font-size: 30px;
    color: #e86ed0;
}

#campaigns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campaign > img{
    height: 400px;
    margin: 20px;
}